@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@100&display=swap');



.logo{

    width: 170px;
    height: 60px;
    margin-top: 50px;
    position: relative;
    /* left:-50px; */
    margin-left:20px;
}

.Profile{
    display: inline-block;
    width:20%;
    height:auto;
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    margin-left:20px;
}


.Link{
    text-decoration: none;
}


.userName{
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #000000;
    /* background: royalblue; */
    text-align: right;
    margin-left:20px;
}

.TotalAssets{
    /* position: absolute;
width: 624px;
height: 77px; */

    top: 193px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 77px;
    color: #000000;
    margin-left:20px;
   
}



.Buttons button{

    width: 176px;
    height: 42px;
    margin-left:20px;
 
    background: #F3CD6F;
    border-radius: 25px;
    border:none;
    cursor: pointer;
}

.MessageSection{
    display: block;
    margin: auto;
    width: 89%;
    height: 39px;
    background: #F4F4F4;
    border-radius: 15px;
    /* margin-left:40px; */
    margin-top:40px;
   
    font-size:21px;
    text-align: center;
    overflow: hidden;
}


.PagesButton{
    display: block;
    margin: auto;
    margin-top:20px;
    width:80%; 
    padding-left: 100px
}


.pageCard{
    display: inline-block;
    width: 186px;
    height:50px;
    background: #FFFFFF;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.17),
                 inset 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin-left:5%;
    margin-bottom:2%;
    padding:0px;
    cursor: pointer;
    text-align: center;
    font-size:27px;
    overflow: hidden;
}

/* cards here  */


.FaShoppingCart{
    position: relative;
    margin-top:0px;
    width: 36.12px;
    height: 31px;
    top:-10px;
    left:-10px;
    color: #FF9900;
}



.FaShoppingCartTxt {
    display: inline-block;
    position: relative;
    top:-15px;

}





.FaMailBulk{
    position: relative;
    
    width: 36.12px;
    height: 31px;
    top:-10px;
    left:-10px;
    color: #FD688D;
}



.FaWalletTxt {
    display: inline-block;
    position: relative;
    top:-8px;
text-decoration: none;
}




.FaEnvelopeOpen{
    position: relative;
    margin-top:0px;
    width: 36.12px;
    height: 31px;
    top:-10px;
    color: #1570C3;
    left:-10px;
}



.FaEnvelopeOpenTxt {
    display: inline-block;
    position: relative;
    top:-15px;

}





.FaWallet{
    position: relative;
  
    width: 36.12px;
    height: 31px;
    top:-10px;
    color: #1570C3;
    left:-15px;
}



.FaWalletTxt {
    display: inline-block;
    position: relative;
    top:-15px;

}



.FaRegClipboard{
    position: relative;
    margin-top:0px;
    width: 36.12px;
    height: 31px;
    top:-10px;
    color: #1570C3;
    left:-10px;

}


.FaRegClipboardTxt{


    display: inline-block;
    position: relative;
    top:-15px;
 text-decoration: none;
}






.FaCopy{
    position: relative;
    margin-top:0px;
    width: 36.12px;
    height: 31px;
    top:0px;
    left:-10px;
    color: #5A6BFF;
    left:-10px;
    text-decoration: none;
}


.FaCopyTxt{


    display: inline-block;
    position: relative;
    font-size:15px;
    width:100px;
    left:-10px;
    top:-3px;
 
}




.FotterButton{
    position: fixed;
    width: 296px;
    height: 50px;
    top:83%;
    left:35%;
    background: #ffffff;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.17), inset 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.FotterButton div{
display: inline-block;
margin-left:15%;
}



.ShoppingCart{
    position: relative;
    display: inline-block;
    top:-10px;
    width: 25px;
    height: 29.99px;
    color: #1570C4;
}


.EmotionHappyLine{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 29.99px;
    top:-10px;
    color: #FF9900; 
}




.home{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 49.99px;
    
    color: #FF9900; 
}





@media only screen and (max-width: 900px) {


    .logo{
    
        width: 160px;
        height: 40px;
        margin-top: 50px;
        position: relative;
        margin-left:10px;
    }
    
    .Profile{
        display: inline-block;
        width:40%;
        height:auto;
        float: right;
        margin-top: 45px;
        margin-right: -00px;
        /* background: #1570C4; */
    }
    
    .userName{
      
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        color: #000000;
        /* background: royalblue; */
        text-align: right;
        margin-left:0px;
    }



    .userName FaUserAlt{

width:20px;
height: 20px;

    }


    
    .TotalAssets{
        /* position: absolute;
    width: 624px;
    height: 77px; */
        left: 44px;
        top: 193px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 77px;
        /* color: #000000; */
        margin-left:20px;
    }
    
    .Buttons{
      display: block;
      margin: auto;
      width: 100%;
    }
    
    .Buttons button{
    
        width: 136px;
        height: 32px;
        margin-left:20px;
        margin-top:10px;
        background: #F3CD6F;
        border-radius: 25px;
        border:none;
        cursor: pointer;
    }
    
    .MessageSection{
        display: block;
        margin: auto;
        width:80%;
        height: 39px;
        background: #F4F4F4;
        border-radius: 15px;
        margin-left:20px;
        margin-top:40px;
        padding:10px;
   padding-bottom: 0px;
        font-size:18px;
        text-align: center;
        margin-bottom:20px;
    }
    
    
    .PagesButton{
        position: relative;
        left:2px;
        margin-top:0px;
        width:80%; 
        padding-left:0px;
        /* background: #180303; */
    }
    
    
    .pageCard{
        
        width: 120px;
        height:40px;
        background: #FFFFFF;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.17),
                     inset 0px 1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        margin-left:11px;
        margin-right:0px;
        margin-top:5px;
        padding:0px;
        cursor: pointer;
        text-align: center;
        font-size:17px;
        overflow: hidden;
    }
    
    /* cards here  */
    
    
    .FaShoppingCart{
        position: relative;
     left:-3px;
        width: 36.12px;
        height: 31px;
        top:-8px;
        color: #FF9900;
    }
    
    
    
    .FaShoppingCartTxt {
        display: inline-block;
        position: relative;
        top:-15px;
        font-size: 23px;
    
    }
    
    
    
    
    
    .FaMailBulk{
        position: relative;
        margin-top:0px;
        width: 36.12px;
        height: 31px;
        top:-13px;
        left:-3px;
        color: #FD688D;
    }
    
    
    
    .FaWalletTxt {
        display: inline-block;
        position: relative;
        top:0px;
        left:4px;
        font-size:24px;
    
    }
    
    
    
    
    .FaEnvelopeOpen{
        position: relative;
        margin-top:0px;
        width: 36.12px;
        height: 31px;
        top:-10px;
        left:-3px;
        color: #1570C3;
    }
    
    
    
    .FaEnvelopeOpenTxt {
        display: inline-block;
        position: relative;
        top:-16px;
        font-size: 22px;
    
    }
    
    
    
    
    
    .FaWallet{
        position: relative;
        margin-top:0px;
        width: 36.12px;
        height: 31px;
        top:-6px;
        left:-2px;
        color: #03C903;
    }
    
    
    
    .FaWalletTxt {
        display: inline-block;
        position: relative;
        top:-13px;
        left:-2px;
        font-size:22px;
    
    }
    
    
    
    .FaRegClipboard{
        position: relative;
        margin-top:0px;
        width: 36.12px;
        height: 31px;
        top:2px;
        left:-0px;
        color: #1570C3;
    
    }
    
    
    .FaRegClipboardTxt{
    
    
        display: inline-block;
        position: relative;
        font-size:18px;
        left:-3px;
        top:-7px;
     width:80px;
    /* background: #1570C3; */
    }
    
    
    
    
    
    
    .FaCopy{
        position: relative;
        margin-top:0px;
        width: 36.12px;
        height: 31px;
        top:0px;
        left:-5px;
        color: #5A6BFF;
    
    }
    
    
    .FaCopyTxt{
        display: inline-block;
        position: relative;
        font-size:9px;
        left:0px;
        top:-3px;
     width:50px;
    /* background: #1570C3; */
    }
    
    
    
    
    .FotterButton{
        position: fixed;
        
        width: 206px;
        height: 45px;
        top:90%;
        left:23%;
        background: #ffffff;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.17), inset 0px 1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
    }
    
    /* .FotterButton div{
    display: inline-block;
    margin-left:15%;
    } */
    
    
    
    .ShoppingCart{
        position: relative;
        display: inline-block;
        top:10px;
        width: 25px;
        height: 29.99px;
        color: #1570C4;
    }
    
    
    .EmotionHappyLine{
        position: relative;
        display: inline-block;
        width: 25px;
        height: 29.99px;
        top:7px;
        color: #FF9900; 
    }
    
    
    
    
    .home{
        position: relative;
        display: inline-block;
        width: 25px;
        height: 29.99px;
        top:9px;
        color: #FF9900; 
    }
    
    
}    




